*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #F8F0E5;
    scroll-behavior: smooth;
}

.alert{
    border-radius: 0.5rem;
}

.navbar-nav{
    margin-left: auto;
}
